In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [20]:
dataset=pd.read_csv('test.csv')
dataset2=pd.read_csv('train.csv')

In [21]:
dataset.head()

,id,temperature,irradiance,humidity,panel_age,maintenance_count,soiling_ratio,voltage,current,module_temperature,cloud_coverage,wind_speed,pressure,string_id,error_code,installation_type
0,0,17.618379,85.449838,90.81542277591531,13.910963,6.0,0.889765,6.370396,0.069101,19.517274,33.509889,7.1819582155525445,1034.782455188643,C3,E01,tracking
1,1,34.826323,722.801748,20.98299301574633,20.916528,4.0,0.590372,30.095867,1.713852,37.421443,32.327060,4.184581989921003,992.3197520437311,D4,E00,NaN
2,2,33.776934,485.491998,55.61404977577451,1.446962,3.0,0.611425,28.424430,1.696936,32.147763,69.613333,6.25944104775485,999.2134568588949,D4,E01,dual-axis
3,3,18.584189,350.022720,49.04476645510075,18.810133,5.0,NaN,7.848038,0.787188,25.734118,42.862760,2.7696074663593944,1026.6500782154521,C3,E02,dual-axis
4,4,43.044908,437.295622,8.761571340027164,NaN,8.0,0.564938,12.300717,1.867620,NaN,51.025763,11.846974043208318,1010.809942771749,B2,NaN,fixed

In [22]:
dataset2.head()

,id,temperature,irradiance,humidity,panel_age,maintenance_count,soiling_ratio,voltage,current,module_temperature,cloud_coverage,wind_speed,pressure,string_id,error_code,installation_type,efficiency
0,0,7.817315,576.179270,41.24308670850264,32.135501,4.0,0.803199,37.403527,1.963787,13.691147,62.494044,12.82491203459621,1018.8665053152533,A1,NaN,NaN,0.562096
1,1,24.785727,240.003973,1.3596482765960705,19.977460,8.0,0.479456,21.843315,0.241473,27.545096,43.851238,12.012043660984917,1025.6238537572883,D4,E00,dual-axis,0.396447
2,2,46.652695,687.612799,91.26536837560256,1.496401,4.0,0.822398,48.222882,4.191800,43.363708,NaN,1.814399755560454,1010.9226539809573,C3,E00,NaN,0.573776
3,3,53.339567,735.141179,96.19095521176159,18.491582,3.0,0.837529,46.295748,0.960567,57.720436,67.361473,8.736258932034128,1021.8466633134253,A1,NaN,dual-axis,0.629009
4,4,5.575374,12.241203,27.495073003585226,30.722697,6.0,0.551833,0.000000,0.898062,6.786263,3.632000,0.52268384077164,1008.5559577591927,B2,E00,fixed,0.341874

In [6]:
dataset.describe()

,id,temperature,irradiance,panel_age,maintenance_count,soiling_ratio,voltage,current,module_temperature,cloud_coverage
count,12000.00000,11418.000000,11385.000000,11393.000000,11391.000000,11390.000000,11453.000000,11413.000000,11420.000000,11418.000000
mean,5999.50000,25.146375,503.680996,17.473594,3.991836,0.700468,16.520001,1.708212,30.038138,51.324166
std,3464.24595,12.278231,250.888332,10.095197,1.995215,0.172455,18.402507,1.147612,12.216873,45.723208
min,0.00000,0.000000,-564.252322,0.013553,0.000000,0.400042,0.000000,0.000065,0.000000,0.001065
25%,2999.75000,16.768567,334.595229,8.612788,3.000000,0.553302,0.000000,0.767381,21.478909,25.079720
50%,5999.50000,24.887335,505.037516,17.402885,4.000000,0.697455,12.966453,1.565075,29.952897,49.780073
75%,8999.25000,33.143483,671.762708,26.134488,5.000000,0.850781,27.020573,2.459744,38.315531,75.191692
max,11999.00000,145.879677,1420.627376,34.989441,13.000000,0.999976,417.682763,7.256391,65.000000,1000.000000

In [14]:
dataset2.describe()

,id,temperature,irradiance,panel_age,maintenance_count,soiling_ratio,voltage,current,module_temperature,cloud_coverage,efficiency
count,20000.000000,18999.000000,19013.000000,18989.000000,18973.000000,18990.000000,19007.000000,19023.000000,19022.000000,18990.000000,20000.000000
mean,9999.500000,25.077241,501.273896,17.509758,4.012070,0.698879,16.242251,1.713396,29.923807,51.378575,0.510260
std,5773.647028,12.513129,250.926590,10.097557,2.002268,0.172244,17.889031,1.152953,12.125405,48.473664,0.140420
min,0.000000,0.000000,-597.278646,0.001264,0.000000,0.400149,0.000000,0.000054,0.000000,0.000244,0.000000
25%,4999.750000,16.853522,332.227277,8.777905,3.000000,0.550654,0.000000,0.772311,21.522124,25.081618,0.445613
50%,9999.500000,24.720345,499.654730,17.497731,4.000000,0.697663,12.350138,1.558413,29.857669,49.704133,0.515709
75%,14999.250000,32.848917,668.416734,26.340761,5.000000,0.847838,26.557322,2.474744,38.094943,75.052824,0.590324
max,19999.000000,147.394168,1537.810349,34.998379,15.000000,0.999949,494.279016,7.315597,65.000000,1000.000000,0.987066

In [8]:
dataset.isnull().sum()

id                       0
temperature            582
irradiance             615
humidity                 0
panel_age              607
maintenance_count      609
soiling_ratio          610
voltage                547
current                587
module_temperature     580
cloud_coverage         582
wind_speed               0
pressure                 0
string_id                0
error_code            3611
installation_type     2979
dtype: int64

In [15]:
dataset2.isnull().sum()

id                       0
temperature           1001
irradiance             987
humidity                 0
panel_age             1011
maintenance_count     1027
soiling_ratio         1010
voltage                993
current                977
module_temperature     978
cloud_coverage        1010
wind_speed               0
pressure                 0
string_id                0
error_code            5912
installation_type     5028
efficiency               0
dtype: int64

In [9]:
dataset.dtypes

id                      int64
temperature           float64
irradiance            float64
humidity               object
panel_age             float64
maintenance_count     float64
soiling_ratio         float64
voltage               float64
current               float64
module_temperature    float64
cloud_coverage        float64
wind_speed             object
pressure               object
string_id              object
error_code             object
installation_type      object
dtype: object

In [19]:
dataset2.dtypes

id                      int64
temperature           float64
irradiance            float64
humidity               object
panel_age             float64
maintenance_count     float64
soiling_ratio         float64
voltage               float64
current               float64
module_temperature    float64
cloud_coverage        float64
wind_speed             object
pressure               object
string_id              object
error_code             object
installation_type      object
efficiency            float64
dtype: object

In [10]:
(dataset.isnull().sum() / len(dataset)) * 100

id                     0.000000
temperature            4.850000
irradiance             5.125000
humidity               0.000000
panel_age              5.058333
maintenance_count      5.075000
soiling_ratio          5.083333
voltage                4.558333
current                4.891667
module_temperature     4.833333
cloud_coverage         4.850000
wind_speed             0.000000
pressure               0.000000
string_id              0.000000
error_code            30.091667
installation_type     24.825000
dtype: float64

In [16]:
(dataset2.isnull().sum() / len(dataset)) * 100

id                     0.000000
temperature            8.341667
irradiance             8.225000
humidity               0.000000
panel_age              8.425000
maintenance_count      8.558333
soiling_ratio          8.416667
voltage                8.275000
current                8.141667
module_temperature     8.150000
cloud_coverage         8.416667
wind_speed             0.000000
pressure               0.000000
string_id              0.000000
error_code            49.266667
installation_type     41.900000
efficiency             0.000000
dtype: float64

In [24]:
dataset.nunique()

id                    12000
temperature           11203
irradiance            11385
humidity              11930
panel_age             11393
maintenance_count        14
soiling_ratio         11390
voltage                8374
current               11413
module_temperature    11382
cloud_coverage        11403
wind_speed            11922
pressure              11938
string_id                 4
error_code                3
installation_type         3
dtype: int64

In [25]:
dataset2.nunique()

id                    20000
temperature           18579
irradiance            19013
humidity              19876
panel_age             18989
maintenance_count        15
soiling_ratio         18990
voltage               13850
current               19023
module_temperature    18964
cloud_coverage        18959
wind_speed            19884
pressure              19868
string_id                 4
error_code                3
installation_type         3
efficiency            19370
dtype: int64